//less than 1.8rem
$smallText: #778855;
// large non bold black text (18pt or greater)
$largeText: #99aa77;
//Medium black Bold Text (14pt or higher)
$mediumBoldText: #556677;

$border: #656f7c;
$background: rgba(153, 170, 119, 1);
