//variables
$border: #656f7c;
$background: rgba(153, 170, 119, 1);
.App {
  text-align: center;
  background-image: url(./img/background2.png);
  min-height: 800px;
  padding-top: 10px;
}

.header {
  height: 250px;
  .title {
    color: #ff5757;
    border: 5px solid $border;
    width: 600px;
    margin: 0px auto;
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    img {
      width: 50px;
      margin: 0px 15px;
    }
  }
  .navBar {
    margin: 10px auto;
    border: 5px solid #a4a37a;
    width: 600px;
    background: white;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    .link {
      width: 120px;
      color: white;
      background: $background;
      border: 3px solid $border;
      border-radius: 25px;
      box-shadow: 2px 2px 3px #000;
      line-height: 40px;
    }
  }
}

.loginForm {
  margin: 0px auto;
  background: white;
  border: 5px solid $border;
  width: 400px;
  min-height: 400px;
  border-radius: 10px;
  h2 {
    margin: 0px;
  }
  input {
    display: block;
    margin: 20px auto;
    line-height: 37px;
    font-size: 1.7rem;
  }
  .loginButton {
    height: 75px;
    background: $background;
    color: white;
  }
}
