body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Playfair Display", serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  font-family: "Mansalva", cursive;
}

h2,
h3 {
  font-family: "Big Shoulders Text", cursive;
}
